
/* ------------------------Gloabl Varaibles------------------------------- */
:root{
    --header-gradient: linear-gradient(45deg, rgb(92, 139, 207), rgb(17, 17, 63));
    --section-gradient: linear-gradient(45deg,  rgb(17, 17, 63), rgb(92, 139, 207));
}
/* ------------------------Body---------------------------------------- */
body{
    padding: 0px;
    margin: 80px 80px 0px 80px;
    background-color: whitesmoke;
}
/* --------------------Header---------------------------------- */
header{
    display: grid;
    height: auto;
    margin: 0px;
    padding: 40px;
    position:sticky;
    top:0px;
    align-content: center;
    justify-items: center;
    background-image: var(--header-gradient);
    z-index: 1;
}
.icon{
    display: none;
}
nav{
    margin: 0px;
    color: aqua;
    width:fit-content;
}
nav>span{
    padding: 30px;
}
a{
    color: black;
    text-decoration: none;
}
.main1{
    background-color: whitesmoke;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-content: center;
}
.main1>div{
    background-image: var(--header-gradient);
    width:250px;
    height: 350px;
    border-radius: 30px;
    margin: 20px;
    box-shadow: -3px 3px 5px rgb(90, 84, 84), 3px -3px 5px rgb(56, 50, 50);
    transition: transform 1s;
}
.main1>div:hover{
    transform: scale(1.2);
}
.div1{
    grid-column-start: 1;
    grid-column-end: 2;
    overflow: hidden;
}
.div2{
    grid-column-start: 2;
    grid-column-end: 3;
    overflow: hidden;
}
.div3{
    grid-column-start: 3;
    grid-column-end: 4;
    overflow: hidden;
}
.div1>div .div2>div .div2>div{
    height: 200px;
    overflow: hidden;
}
img{
    height: auto;
    width: 100%;
}
.card-section2>section{
    margin: 0px 0px 20px 0px;
    padding: 5px;
    border-radius: 0px;
    background-image: var(--section-gradient);
    overflow: hidden;
}
button{
    height: 30px;
    width: 100%;
    background-image: var(--section-gradient);
    border: transparent;
    border-radius: 10px;
    box-shadow: -4px 4px 5px gray, 4px 0px 5px gray;
    
}
.main2{
    background-color: whitesmoke;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-content: center;
}
.main2>div{
    overflow: hidden;
    filter: drop-shadow(-5px 5px 5px rgb(89, 84, 84)) drop-shadow(5px -5px 5px rgb(74, 69, 69));
}
.main2>.main2-div1{
    grid-column-start: 1;
    grid-column-end: 2;
}
.main2>.main2-div2{
    grid-column-start: 2;
    grid-column-end: 3;
}
.main3{
    background-color: whitesmoke;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-content: center;
}
.main3>div{
    overflow: hidden;
    filter: drop-shadow(-5px 5px 5px rgb(89, 84, 84)) drop-shadow(5px -5px 5px rgb(74, 69, 69));
}
.main3>.main3-div1{
    grid-column-start: 1;
    grid-column-end: 2;
}
.main3>.main3-div2{
    grid-column-start: 2;
    grid-column-end: 3;
}
.main4{
    background-image: var(--header-gradient);
    padding: 20px;
}
.main4>div{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 20px;
    
} 
h1{
    padding: 10px;
    margin: 0px;
}
.main4-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
    margin-top: 50px;
}
.main4-section>span{
    color: black;
    font-size: 18px;
}
.section1>span{
    font-size: 22px;
}
.section1>span>a{
    text-decoration: none;
}
.section1>span>a:hover{
    color: black;
}
footer{
    height: 40px;
    text-align: center;
    background-image: var(--header-gradient);
}
footer>p{
    margin: 0px;
}
@media screen and (max-width: 800px){
    body{
        margin: 20px 20px 0px 20px;
    }
    header{
        padding: 10px;
    }
    .icon{
        display: flex;
        justify-self: start;
    }
    nav{
        display: none;
    }
    nav>span{
        display: flex;
        flex-direction: row;
        margin: 0px;
        padding: 10px;
    }
    .main1{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: repeat(3, 1fr);
    }
    .div1{
        grid-column-start: 1;
        grid-column-end: 2;
        overflow: hidden;
    }
    .div2{
        grid-column-start: 1;
        grid-column-end: 2;
        overflow: hidden;
    }
    .div3{
        grid-column-start: 1;
        grid-column-end: 2;
        overflow: hidden;
    }
    .main2{
        grid-template-rows: 2;
        grid-template-columns: auto;
    }
    .main2>.main2-div1{
        grid-column-start: 1;
        grid-column-end: 2;
    }
    .main2>.main2-div2{
        grid-column-start: 1;
        grid-column-end: 2;
    }
    .main3{
        grid-template-rows: 2;
        grid-template-columns: auto;
    }
    .main3>.main3-div1{
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 2;
    }
    .main3>.main3-div2{
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: 2;
    }
    .main4>div{
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: auto;
    }
    .section1{
        grid-column-start: 1;
        grid-column-end: 2;
    }
    .section2{
        grid-column-start: 1;
        grid-column-end: 2;
    }
    .section3{
        grid-column-start: 1;
        grid-column-end: 2;
    }
    .main4-section{
        row-gap: 10px;
    }
}

